/* Fonts {{{ */
@font-face {
    font-family: 'Charis';
    src: url('/static/lib/fonts/charissilcompact-b-webfont.eot');
    src: url('/static/lib/fonts/charissilcompact-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lib/fonts/charissilcompact-b-webfont.woff') format('woff'),
         url('/static/lib/fonts/charissilcompact-b-webfont.ttf') format('truetype'),
         url('/static/lib/fonts/charissilcompact-b-webfont.svg#charis_sil_compactbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Charis';
    src: url('/static/lib/fonts/charissilcompact-bi-webfont.eot');
    src: url('/static/lib/fonts/charissilcompact-bi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lib/fonts/charissilcompact-bi-webfont.woff') format('woff'),
         url('/static/lib/fonts/charissilcompact-bi-webfont.ttf') format('truetype'),
         url('/static/lib/fonts/charissilcompact-bi-webfont.svg#charis_sil_compactbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Charis';
    src: url('/static/lib/fonts/charissilcompact-i-webfont.eot');
    src: url('/static/lib/fonts/charissilcompact-i-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lib/fonts/charissilcompact-i-webfont.woff') format('woff'),
         url('/static/lib/fonts/charissilcompact-i-webfont.ttf') format('truetype'),
         url('/static/lib/fonts/charissilcompact-i-webfont.svg#charis_sil_compactitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Charis';
    src: url('/static/lib/fonts/charissilcompact-r-webfont.eot');
    src: url('/static/lib/fonts/charissilcompact-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lib/fonts/charissilcompact-r-webfont.woff') format('woff'),
         url('/static/lib/fonts/charissilcompact-r-webfont.ttf') format('truetype'),
         url('/static/lib/fonts/charissilcompact-r-webfont.svg#charis_sil_compactregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'News Cycle';
    src: url('/static/lib/fonts/NewsCycle-Regular-webfont.eot');
    src: url('/static/lib/fonts/NewsCycle-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/lib/fonts/NewsCycle-Regular-webfont.woff') format('woff'),
         url('/static/lib/fonts/NewsCycle-Regular-webfont.ttf') format('truetype'),
         url('/static/lib/fonts/NewsCycle-Regular-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* }}} */

/* Mixins {{{ */
.transition (@prop: all, @time: 1s, @ease: linear, @delay: 0s) {
    -webkit-transition: @prop @time @ease @delay;
       -moz-transition: @prop @time @ease @delay;
         -o-transition: @prop @time @ease @delay;
        -ms-transition: @prop @time @ease @delay;
            transition: @prop @time @ease @delay;
}

.box-sizing (@type: border-box) {
    -webkit-box-sizing: @type;
       -moz-box-sizing: @type;
        -ms-box-sizing: @type;
            box-sizing: @type;
}

.user-select(@argument: none) {
    -webkit-user-select: @argument;
       -moz-user-select: @argument;
        -ms-user-select: @argument;
            user-select: @argument;
}

.opacity(@opacity: 0.5) {
       -moz-opacity: @opacity;
     -khtml-opacity: @opacity;
    -webkit-opacity: @opacity;
            opacity: @opacity;
            @opperc: @opacity * 100;
         -ms-filter: ~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
             filter: ~"alpha(opacity=@{opperc})";
}

.box-shadow(@arguments) {
    -webkit-box-shadow: @arguments;
       -moz-box-shadow: @arguments;
            box-shadow: @arguments;
}

/* 
See <http://jsfiddle.net/decx/sffs5/1/> for a generative version of it 
<http://lea.verou.me/css3patterns/#blueprint-grid>
*/

.grid(@major-color: rgba(255, 0, 0, 1), @minor-color: rgba(0,255,255,.3)) {
    background-attachment: local;
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
    background-image: -webkit-linear-gradient(top, @major-color 1px, transparent 1px), 
                      -webkit-linear-gradient(left, @major-color 1px, transparent 1px), 
                      -webkit-linear-gradient(top, @minor-color 1px, transparent 1px), 
                      -webkit-linear-gradient(left, @minor-color 1px, transparent 1px);
    background-image: -moz-linear-gradient(top, @major-color 1px, transparent 1px), 
                      -moz-linear-gradient(left, @major-color 1px, transparent 1px), 
                      -moz-linear-gradient(top, @minor-color 1px, transparent 1px), 
                      -moz-linear-gradient(left, @minor-color 1px, transparent 1px);
    background-image: -ms-linear-gradient(top, @major-color 1px, transparent 1px), 
                      -ms-linear-gradient(left, @major-color 1px, transparent 1px), 
                      -ms-linear-gradient(top, @minor-color 1px, transparent 1px), 
                      -ms-linear-gradient(left, @minor-color 1px, transparent 1px);
    background-image: -o-linear-gradient(top, @major-color 1px, transparent 1px), 
                      -o-linear-gradient(left, @major-color 1px, transparent 1px), 
                      -o-linear-gradient(top, @minor-color 1px, transparent 1px), 
                      -o-linear-gradient(left, @minor-color 1px, transparent 1px);
    background-image: linear-gradient(to bottom, @major-color 1px, transparent 1px), 
                      linear-gradient(to right, @major-color 1px, transparent 1px), 
                      linear-gradient(to bottom, @minor-color 1px, transparent 1px), 
                      linear-gradient(to right, @minor-color 1px, transparent 1px);
}
/* }}} */


/* Layout {{{ */
html,
body {
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}

#sidebar,
#canvas {
    .box-sizing(border-box);
}

#sidebar {
    position: fixed;
    width: 290px;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 13px;
    z-index: 9999999999999999;
    .transition(right, 250ms, ease-out, 0s);

    &.hide {
        right: -290px;
    }

    nav {
        cursor: default;
        position: fixed;
        right: 20px;
        top: 10px;
        z-index: 9999999999999;
    }

    #toggleDrawer {
        cursor: default;
        position: absolute;
        right: 300px;
        top: 10px;
        z-index: 9999999999999;
    }
}

#canvas {
    position: fixed;
    right: 290px;
    top: 20px;
    left: 0;
    bottom: 0;
    overflow: auto;
    .transition(right, 250ms, ease-out, 0s);

    &.hide {
        right: 0px;
    }

    > .wrapper {
        width: 100%;
        height: 100%;

    }
}

#timeline {
    position: fixed;
    left: 10px;
    top: 0;
    right: 0;
    height: 20px;
    overflow: auto;
}
/* }}} */


/* Styles {{{ */

body {
    font-family: 'Charis', sans;
    font-size: 13px;
    line-height: 19px;
}

em {
    font-style: italic;
}

p + p {
    margin-top: 19px;
}

pre, code {
    font-family: monospace, 'NotCourierSans';
}

h1 {
    font-size: 38px;
    line-height: 38px;
}

h2 {
    font-size: 26px;
    line-height: 38px;
}

h3 {
    font-size: 19px;
    line-height: 19px;
}

blockquote {
    margin-left: 38px;
}

#sidebar {
    font-family: 'News Cycle', sans;
    font-size: 15px;
    line-height: 20px;
    color: darkslategrey;

    hgroup {
        margin: 0;
        position: relative;
        top: 5px;
        padding-bottom: 19px;

        h1 {
            font-size: 32px;
            line-height: 36px;
        }
    }

    p + p {
        margin-top: 0;
        text-indent: 26px;
    }

    fieldset {
        border: 1px solid #ccc;
        border-radius: 6px;
    }

    label {
        display: block;
    }

    ul.tags {
        margin: 2px 0 0 13px;
        overflow: hidden;
        margin-bottom:15px;

        li {
            float: left;
            border: 1px solid #ccc;
            margin: 2px 2px;
            padding: 0px 2px 2px 4px;
            border-radius: 7px;

            &.add {
                background-color: #ccc;
                color: white;
            }

            &.add:hover,
            span.del:hover {
                cursor: pointer;
            }

            span {
                font-size: 16px;
                font-family: "Nimbus Sans L", "Free Sans", "Helvetica", "Arial";
            }
        }
    }

    #login-link,
    #logout-link {
        cursor: pointer;
    }
}


.error {
    width: 207px;
    border: 1px solid black;
    position: fixed;
    top: 13px;
    right: 13px;
    padding: 13px;
    display: none;
}

section.section1 {
    background-color: white;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 300px;
    height: 400px;
    outline: 1px solid #ccc;

    &.drop-hover {
        .box-shadow(0px 0px 3px 3px yellow);
    }

    .menu-top,
    .menu-left {
        z-index: 999999999;
        display: none;
        position: absolute;

        .icon {
            margin-right: 5px;
            margin-bottom: 5px;
        }
    }

    .menu-left {
        top: 0;
        left: -45px;
    }

    .menu-top {
        top: -45px;
        left: 0;

        .icon {
            display: inline-block;
        }
    }

    &.focused .menu-top,
    &.focused .menu-left {
        display: block;
    }


    &.hidden {
        .opacity(0.5);

        &:hover {
            /*.opacity(1);*/
        }

        .anonymous & {
            display: none;
        }
    }

    &.collapsed {
        outline: 1px dashed #ccc;
        height: 30px !important;

        /*overflow: hidden;*/
    }


    .annotation-handle {
        background-color: paleGreen;
        height: 20px;
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        display: none;
        outline: 1px solid paleGreen;
    }

    &:hover {
        outline: 1px solid paleGreen;

        .annotation-handle {
            display: block;
        }
    }

    span[property="aa:begin"],
    span[property="aa:end"] {
        color: gray;
        font-size: smaller;

        &:hover {
            cursor: pointer;
            color: blue;
        }

        &:after {
            content: "\00A0\2192\00A0";
        }
    }

    span[property="aa:begin"]:last-child:after {
        content: "\00A0\2192\00A0 ?";
    }

    span[property="aa:end"] {
        &.deduced {
            &:after {
                content: ")";
            }
        }
    }

    span[property="aa:end"].deduced:before {
        content: "(";
    }

    textarea {
        width: 100%;
        height: 100%;
        border: none;
    }

    .menu {
        position: absolute;
        height: 18px;
        top: -19px;
        left: 0;
        width: 100%;
        z-index: 99999999;
        outline: 1px solid grey;
        background-color: grey;
        color: white;
        display: none;
    }

    > div.wrapper {
        overflow-x: hidden;
        height: 100%;
        .box-sizing(border-box);
        padding: 5px;
        cursor: move;
    }

    section[typeof="aa:annotation"] {
        border-top: 1px solid whitesmoke;
        margin-top: -1px;
        padding-bottom: 16px;
    }

    .active {
        background-color: paleGreen;
    }
    .slideshow .active {
        background-color: inherit;
    }

    .slideshow section[typeof="aa:annotation"] {
        position: absolute;
        visibility: hidden;
    }

    .slideshow section[typeof="aa:annotation"].active {
        visibility: visible;
        background-color: inherit;
    }

    .slideshow section[typeof="aa:annotation"]:first-child {
        visibility: visible;
    }
    .cancelDraggable {
        cursor: auto;
    }
}

body {
   .user-select(none);
}

section {
   .user-select(none);
}

.grid {
    .grid();
}

.ui-resizable-handle { z-index: auto !important; }
/* No ugly jquery ui icon */
.ui-resizable-se { background-image: none !important; }

/* Video controls */

.controls {
    line-height: 16px;
    padding: 5px 5px 0px 5px;
   
    a {
        color: #000;
        font-size: 16px;
    }
    a.fa:hover {
        cursor: pointer;
        color: paleGreen;
    }
    a.disabled, a.disabled:hover {
        color: #ccc;
        cursor: initial;
    }
    .timer {
        margin-left: 5px;
        font-family: 'News Cycle', sans;
        font-size: 11px;
    }
}

.mini-player.paused {
    background-image: url(/static/aawiki/png/play.png);
}
.mini-player.paused:hover {
    background-image: url(/static/aawiki/png/play_hover.png);
    cursor: pointer;
}
.mini-player.playing {
    background-image: url(/static/aawiki/png/pause.png);
}
.mini-player.playing:hover {
    background-image: url(/static/aawiki/png/pause_hover.png);
    cursor: pointer;
}

.fa {
    font-size: 14px;
    color: darkGrey;
    cursor: pointer;

    &:hover {
        color: inherit;
    }
}

#toggleRevisions {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#revisions_browser_ctrl {
    font-family: 'News Cycle', sans;
    font-size: 15px;
    line-height: 20px;
    background-color: white;
    bottom: 10px;
    height: 300px;
    /*opacity: 0.7;*/
    position: fixed;
    left: 10px;
    width: 300px;
    z-index: 200;
    padding: 18px;
    color: white;
    background-color: darkslategrey;

    overflow-y: scroll;

    li {
        margin-bottom: 18px;

        &.current {
            color: red;
        } 

    }

    a {
        color: white;
        text-decoration: none;
    }

    &.hidden {
        height: 10px;
    
    }
    &.hidden div,
    &.hidden ul {
        display: none;
    }
}
/* UI */

/* }}} */

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999999999;
    background: rgba(0,0,0,0.6667);
    text-align: center;

    &:before {
        position: relative;
        height: 100%;
        content: "";
        display: inline-block;
        vertical-align: middle;
    }

    .popup {
        display: inline-block;
        vertical-align: middle;
        background-color: white;
        padding: 30px;
    }
}

.ui-tabs {
    .ui-tabs-nav {
        border-bottom: 2px solid currentcolor;

        li {
            display: inline-block;
            .opacity(0.5);

            &.ui-tabs-active {
                .opacity(1);
            }

            a {
                text-decoration: none;
                color: inherit;
                font-size: 11px;
                text-transform: uppercase;
            }
        }

    }
}

#commit-list {
    li {
        margin-bottom: 18px;
    } 
    
}

.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; display: block;}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}


video,
audio,
img {
    max-width: 100%;
    width: auto;
    height: auto;
    /*max-height: 100%;*/
}


/* move up */
.notimecodes span[property="aa:begin"],
.notimecodes span[property="aa:end"] {
    display: none;
}
