{% extends "aawiki/base.html" %}

{% block extrahead %}
{{ block.super }}
<script type="text/template" id="annotation-view-template">
{% include "aawiki/partials/annotation-view.html" %}
</script>
<script type="text/template" id="annotation-edit-template">
{% include "aawiki/partials/annotation-edit.html" %}
</script>
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}components/jquery-ui/themes/base/minified/jquery-ui.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}components/jquery.contextual/aa.jquery.contextual.css">
<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.wiki.css">
<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.annotations.css">
<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.ui.css">
{% endblock %}

{% block body %}
<div class="error">
    Generic Error Message
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}components/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}components/underscore/underscore-min.js"></script>
<script src="{{ STATIC_URL }}components/backbone/backbone-min.js"></script>
<script src="{{ STATIC_URL }}components/backbone-tastypie/backbone_tastypie/static/js/backbone-tastypie.js"></script>
<script src="{{ STATIC_URL }}components/marked/lib/marked.js"></script>
<script src="{{ STATIC_URL }}components/jquery.contextual/aa.jquery.contextual.js"></script>

<script src="{{ STATIC_URL }}aawiki/js/page-detail.js"></script>
{% endblock %}
