{% extends "aawiki/base.html" %}

{% block extrahead %}
{{ block.super }}
<script type="text/template" id="page-view-template">
{% include "aawiki/partials/page-view.html" %}
</script>
<script type="text/template" id="user-view-template">
{% include "aawiki/partials/user-view.html" %}
</script>
<script type="text/template" id="annotation-view-template">
{% include "aawiki/partials/annotation-view.html" %}
</script>
<script type="text/template" id="annotation-edit-template">
{% include "aawiki/partials/annotation-edit.html" %}
</script>
{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}components/jquery-ui/themes/base/minified/jquery-ui.min.css">
<link rel="stylesheet" href="{{ STATIC_URL }}components/jquery.contextual/aa.jquery.contextual.css">
<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.wiki.css">
<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.annotations.css">
<link rel="stylesheet" href="{{ STATIC_URL }}aawiki/css/aa.ui.css">
{% endblock %}

{% block body %}
<nav id="sidebar">
    <!-- TODO: implement Site View in Backbone for these kind of infos:
        <div id="site-name"><a title="Back to main page" href="/oralsite/">Oralsite</a>
(<a title="About Oral Site" href="/oralsite/pages/Oral_Site/">about</a>)</div> -->
    <!-- Backbone inserts here:
        <div id="user-meta">(…)</div>
        ( $('#sidebar').prepend(this.el); )
    -->
    <div id="user-meta-container">
        
    </div>
    <div id="page-meta-container">
        
    </div>
</nav>
<div id="baseplayer">
</div>
<article id="canvas">
    
</article>
<div class="error">
    Generic Error Message
</div>
{% endblock %}

{% block js %}
{{ block.super }}
<script src="{{ STATIC_URL }}components/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}components/underscore/underscore-min.js"></script>
<script src="{{ STATIC_URL }}components/backbone/backbone-min.js"></script>
<script src="{{ STATIC_URL }}components/backbone-tastypie/backbone_tastypie/static/js/backbone-tastypie.js"></script>
<script src="{{ STATIC_URL }}components/popcorn-js/popcorn.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/plugins/aa.popcorn.js"></script>

<script src="{{ STATIC_URL }}components/jquery.contextual/aa.jquery.contextual.js"></script>

<script src="{{ STATIC_URL }}aawiki/js/utils.js"></script>

<script src="{{ STATIC_URL }}aawiki/js/plugins/aa.jquery.renderResources.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/markup/markdown.js"></script>

<script src="{{ STATIC_URL }}aawiki/js/models.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/collections.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/views.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/global-events.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/router.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/error-handling.js"></script>
<script src="{{ STATIC_URL }}aawiki/js/app.js"></script>

{% endblock %}
