django>=1.5,<1.6
-e git+https://github.com/PaulUithol/backbone-tastypie.git@84acd7b33f73cee98088f5d851e2e6df7443adf6#egg=Backbone_tastypie-dev
django-tastypie==0.9.15
django-guardian==1.1.1
# django-celery==3.1.1
requests==2.0.1
Pillow==2.2.1
django-compressor==1.3
python-magic>=0.4,<0.5

# Used as the versioning backend. May be replaced with pygit2 at some point.
# Or maybe Dulwich, it does not have the libgit2 requirement
# TODO: check if we can update the version of GitPython, as it seems pretty old
GitPython==0.1.7
