<hgroup>
     <h1 property="dc:title"><%= name %></h1>
</hgroup>
<% 
// how many allowed viewers does the page have?
var viewers = permissions.view_page.length;

// try to throw the AnonymousUser (who’s id is -1) out of the list of allowed viewers:
permissions.view_page = _.reject(permissions.view_page, function(p) { return p.id === -1; });

// is the new list shorter?
// then AnonymousUser was part of the list, and the page can be considered public
var public = permissions.view_page.length < viewers;
%>
<div class="ui-layout-content">
    <div id="accordion">
        <% if (user !== -1) { %>
        <div id="tab-permissions">
            <fieldset>
                <legend>Visible by</legend>
                <label>
                    <input type="radio" name="visibleBy" value="public"<% if (public) { %> checked<% } %>>
                    The public
                </label>
                <label>
                    <input type="radio" name="visibleBy" value="selected"<% if (!public) { %>  checked<% } %>>
                    Selected:
                </label>
                <ul class="tags">
                    <% _.each(permissions.view_page, function(permitted) { %>
                    <li rel="<%= permitted.uri %>"><%= permitted.name %> <span class="del">×</span></li>
                    <% }); %>
                    <li class="add">Add <span>+</span></li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Editable by</legend> 
                <ul class="tags">
                    <% _.each(permissions.change_page, function(permitted) { %>
                    <li rel="<%= permitted.uri %>"><%= permitted.name %> <span class="del">×</span></li>
                    <% }); %>
                    <li class="add">Add <span>+</span></li>
                </ul>
            </fieldset>
            <fieldset>
                <legend>Administrated by</legend>
                <ul class="tags">
                    <% _.each(permissions.administer_page, function(permitted) { %>
                    <li rel="<%= permitted.uri %>"><%= permitted.name %> <span class="del">×</span></li>
                    <% }); %>
                    <li class="add">Add <span>+</span></li>
                </ul>
            </fieldset>
        </div>
        <% } %>
         <!-- TODO: reimplement Table of Contents & Layers <h3><a href="#">Table of contents</a></h3>

        <div id="tab-layers" class="aa-tab"></div> -->
         <!-- TODO: reimplement Help <h3><a href="#">Help</a></h3>

        <div id="tab-help">
            <p>Description of preferred browser and where to send bugs.</p>
        </div> -->
    </div>
</div>